SaralKanoon - Chat.json
{
  "name": "SaralKanoon - Chat",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f6bb9323-6555-4284-9a77-988b332b0e0f",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "96644baa-e730-4070-b6d7-dbc412e63a92",
      "name": "Webhook",
      "webhookId": "f6bb9323-6555-4284-9a77-988b332b0e0f"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.question }}",
        "options": {
          "systemMessage": "You are SaralKanoon, an AI assistant that helps ordinary Indian citizens understand legal documents in simple language.\n\nRULES:\n\n1.CRITICAL RULE: You MUST detect the exact language of the user's question and respond ONLY in that same language. \n- If the question is in English → answer in English ONLY\n- If the question is in Hindi → answer in Hindi ONLY\n- If the question is in Tamil → answer in Tamil ONLY\n- NEVER switch languages. The language of your answer must EXACTLY match the language of the question.\n2. Use simple, everyday words — never complex legal jargon\n3. If you use a legal term, immediately explain it simply\n4. Always mention which section/part of the document your answer comes from\n5. If the answer is not in the document, honestly say so\n6. Be warm and helpful — like a knowledgeable friend, not a lawyer\n\nRemember: You are helping common people who cannot afford lawyers. Make the law accessible to everyone."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "32ce9634-4167-4d1b-8d8c-e10ddb2f9a9d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "cf126abe-c40d-4290-88d8-5d60a4abc3da",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "zRq6HDf3yYg0qvVn",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search legal document",
        "qdrantCollection": {
          "__rl": true,
          "value": "SaralKaanoon",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        560,
        0
      ],
      "id": "6fa99d73-ea9c-4083-a695-8aba6848c2b2",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "0YkqyOq140YPMTzn",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        656,
        208
      ],
      "id": "3717c553-6ab2-4714-adde-a8529f2cb1e4",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "kM8ngrHiYpL0ZNS9",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        640,
        -160
      ],
      "id": "a31d9771-155d-4f54-81db-bbdd5c5bf155",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f4e4fce8-13d5-4bdf-8525-c2783710a0de",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5088520b1adcc03d0c5262c54a20b7a3c4097fbdb6cdbea698490b6a8333534f"
  },
  "nodeGroups": [],
  "id": "HwPC3fMy4Dnwq5LE",
  "tags": []
}